<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jjie.pracpart.Mapper.UserInfoXmlMapper">

<!--    <select id="selectAll" resultType="jjie.pracpart.entity.UserInfo">-->
<!--        select * from user_info-->
<!--    </select>-->

<!--    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into user_info (username,password,age,phone)-->
<!--            values (#{userinfo.username}, #{userinfo.password}, #{userinfo.age},#{userinfo.phone})-->
<!--    </insert>-->

    <insert id="insertByCondition">
        insert into user_info
        <trim prefix="(username," suffix=")" suffixOverrides=",">
            <if test="gender!=null">
                gender,
            </if>
            <if test="phone!=null and phone != ''">
                phone,
            </if>
        </trim>
        <trim prefix="values( #{username}," suffix=")" suffixOverrides=",">
            <if test="gender!=null">
                #{gender},
            </if>
            <if test="phone!=null and phone != ''">
                #{phone},
            </if>
        </trim>
    </insert>

    <select id="selectByCondition">
        select * from user_info
        <where>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
        </where>
    </select>

    <update id="setByCondition">
        update user_info
        <set>
            <if test="username!=null">
                ,username=#{username}
            </if>
            <if test="age!=null">
                ,age=#{age}
            </if>
        </set>
        where id=3
    </update>

</mapper>
